body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	background-color: teal;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 13rem;
}
.letter {
	transition: color 200ms;
}
