body {
	display: flex;
	justify-content: center;
	align-items: left;
	height: 200vh;

	background-color: goldenrod;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 15rem;
}
.letter {
	transition: color 5000ms;
}
